<div class="container">
    <div class="jumbotron">
    <h2 class="experiences">WORK EXPERIENCES</h2>
    <div>
        <h3>Hunan Hydro & Power Design Institute</h3>
        <p>01/2012-09/2012</p>
        <p>Changsha, China</p>
        <p>Intern-Associate Engineer</p>
        <ul>
            <li>Finished 10% of a wiring diagram for a substation design project</li>
            <li>Drew substation secondary wired diagram </li>
            <li>Sorted to diagram to understand the classifications of diagram </li>
        </ul>

        <h3>Xiangjiang Power Construction Co., Ltd</h3>
        <p>05/2013-07/2014</p>
        <p>Changsha, China</p>
        <p>Intern-Associate Engineer</p>
        <ul>
            <li>Partly interpreted physical, elevation plan, conduit plans, bill of material and cable schedule for substations.</li>
        </ul>
    </div>
    </div>
</div>
