<div class="projects">
    <!--<a class="card-projects" ng-repeat="project in projectCtrl.project" ng-href="#/notes/{{project.id}}">-->
        <!--<div class="card" title='{{project.name}}'>-->

            <!--<h2 class="h3">{{project.name}}</h2>-->

        <!--</div>-->
    <!--</a>-->


            


    <h3>FPGA Development</h3>
        <ul>
            <li>Media Player System: Independently designed a media player system that employs a dual-core processor and allows image processing and music display be separately controlled. This system also has a sleep mode. (Quartus 2, Verilog, C/C++)</li>
            <li>Object Tracking: Developed a device that could capture and track the movement of objects whose color has significant difference to the background, and the movement of the object would be marked on a LCD screen on the device. </li>
        </ul>

    <h3>Embedded System Development</h3>
        <ul>
            <li>Developed a music player that employs UART protocol, and it allows users to create their own music or play songs by using keyboard. (C/C++)</li>
        </ul>

    <h3>Supercomputer Development</h3>
        <ul>
            <li>Developed a program that can be used to calculate histograms of pictures on Pyramid by using MPI and UPC. (C/C++)</li>
        </ul>

    <h3>Java Development</h3>
        <ul>
            <li>Designed a BeatBox program which allows users to play all kinds of instruments and create their own work of music. This program also allows users to save their work on the client-side, and allows them to share their work with others through the serve-end. (Java)</li>
        </ul>

</div>
