<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>TECHNICAL AND LANGUAGE SKILLS</h2>
<h3>Programming</h3>
<ul>
    <li>C/C++</li>
    <li>Verilog</li>
    <li>Java</li>
    <li>Javascript</li>
    <li>HTML/CSS</li>
    <li>Python</li>
</ul>

<h3>Language</h3>
<ul>
    <li>English</li>
    <li>Chinese</li>
</ul>

<h3>Application</h3>
<ul>
    <li>CAD</li>
    <li>Quarturs 2</li>
    <li>Candence</li>
    <li>Synopsys</li>
    <li>Matlab</li>
    <li>Office</li>
</ul>

<h3>Operating System</h3>
<ul>
    <li>Windows</li>
    <li>Linux</li>
</ul>
</body>
</html>